* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}

.main-block {
    width: 320px;
    height: 568px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-block__inner {
    margin: 0 auto;
    transform: translate(0, -50%);
    top: 50%;
    position: relative;
}

.background-circle {
    stroke: rgb(90, 94, 91);
    stroke-width: 10;
    fill: transparent;
    transform: translate(0px, 8px);
}

.main-block__progress-circle {
    width: 168px;
    height: 168px;
}

.main-block__circle {
    stroke: rgb(255, 146, 4);
    stroke-width: 10;
    fill: transparent;
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.5s;
}

.btn-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    height: 100px;
}

.btn-block__input {
    width: 34px;
    height: 24px;
    border: 1px solid black;
    border-radius: 11px;
    padding-left: 10px;
    outline: none;
    position: relative;
    left: -33px;
}

.toggle {
    display: flex;
    align-items: center;
    width: 110px;
    height: 30px;
}

span {
    margin-left: 5px;
}

.btn-block__btn {
    width: 44px;
    height: 24px;
    background-color: rgb(27, 26, 26);
    border-radius: 11px;
}

.btn-circle {
    position: relative;
    transform: translate(0, -50%);
    top: 50%;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(117, 114, 114);
    transition: all .5s ease-in-out;
}

.btn-circle:hover {
    cursor: pointer;
}

@media (orientation: landscape) {
    .main-block {
        width: 568px;
        height: 320px;
        flex-direction: row;
    }   
}
